services:
  redis:
    image: redis:latest
    container_name: social_app_redis_service
    restart: always
    ports:
      - '6379:6379'

  qdrant:
    image: qdrant/qdrant
    container_name: qdrant
    ports:
      - '6333:6333'
    volumes:
      - qdrant_storage:/qdrant/storage
    environment:
      QDRANT_API_KEY: my-secret-key-for-qdrant
    restart: unless-stopped

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend_service
    depends_on:
      - redis
    # restart: always
    restart: 'no'
    command: ['sh', '-c', 'sleep 3600']
    env_file:
      - .env
    ports:
      - '12345:3000'
    environment:
      - NODE_ENV=production

  mongodb:
    image: mongo:latest
    container_name: mongodb
    restart: always
    ports:
      - '27017:27017'
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password123
      MONGO_INITDB_DATABASE: mydb
    volumes:
      - mongodb_data:/data/db
      - mongodb_config:/data/configdb
    networks:
      - mongodb_network

volumes:
  mongodb_data:
    driver: local
  mongodb_config:
    driver: local
  qdrant_storage:
    driver: local

networks:
  mongodb_network:
    driver: bridge
